/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Gulzar&display=swap");

body {
    background: url('../images/boxing-ring.webp') center no-repeat;
    background-size: cover;

    text-align: center;
    
    width: 100%;
    height: 100%;

    font-family: 'Gulzar' sans-serif;

}

#home {
    font-size: 30px;

    background-color: #be2d2d;
    color: #ffffff; 

    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}

h1 {
    font-size: 50px;
    color: white;
    margin-top: 5px;
}

.container {
    background-color:  #a2a9ab;

    width: 500px;
    max-width: 800px;

    height: 300px;
    max-height: 600px;

    margin: 20px auto;
    padding: 40px;

    border-radius: 15px;
    
    box-shadow: 0 0 5px 5px;

    opacity: 0.8;

}

#question {
    font-size: 30px;
    margin: 10px auto;
}

.btn{
    background-color: white;
    margin: 10px 10px;
    font-size: 20px;
    border-radius: 5px;
    border-color: #be2d2d;
    border-radius: 10px;
    padding:10px;
    box-shadow: 0 0 5px 5px;
}

.btn:hover {
    background-color: hsl(0, 62%, 46%);
    color: white;
    border-color: white;
}

.btn.correct{
    border-color: black;
}

.btn.wrong {
    color: #be2d2d;
    background-color: #ffffff;
}

/*controls*/
.hide{
    display: none;
}


 .score-area p{
    display: inline-block;
    margin: 2rem;
    text-align: center;
 }

 .correct {
    background-color:  #a2a9ab;
    color: #ffffff;
    
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}
.incorrect {
    background-color: #a8232f;
    color:  #ffffff; 
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

/*footer codes*/
footer {
    background-color: #a2a9ab;
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
footer li{
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

footer img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: -10px;
    
}

.social-networks a {
    color: #be2d2d;
    font-size: 30px;
    margin-left: 15px;
}

.social-networks p {
    color:#ffffff;
}